<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />

<title>Golden Kids</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

	<header>
		<div class="container-fluid p-0">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="#"> <i
					class="fas fa-book-reader fa-3x mx-3"></i> Golden Kids
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-align-right"></i>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="mr-auto"></div>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<div class="dropdown">
								<a href="#" class="nav-link">Usuarios</a>
								<div class="dropdown-content">
									<a href="/usuario/formulario">Registrar Usarios</a> <a
										href="/usuario/listarusuarios">Ver Usuarios</a>
								</div>
							</div>

						</li>



						<li class="nav-item dropdown">
							<div class="dropdown">
								<a href="#" class="nav-link">Alumnos</a>
								<div class="dropdown-content">
									<a href="/alumno/formulario">Registrar Alumnos</a> <a
										href="/alumno/listaralumnos">Ver Alumnos</a>
								</div>
							</div>

						</li>

						<li class="nav-item dropdown">
							<div class="dropdown">
								<a href="#" class="nav-link">Salita</a>
								<div class="dropdown-content">
									<a href="/usuario/formulario">Crear Salita</a> <a
										href="/usuario/listaralumnos">Ver Salita</a>
								</div>
							</div>

						</li>

						<nav class="navbar navbar-expand-lg navbar-light">

							<form class="form-inline my-2 my-lg-0" action="" method="GET">
								<input class="form-control mr-sm-2" type="search"
									placeholder="Buscar" aria-label="Buscar" name="q"
									th:value="${q}">
								<button class="btn btn-outline-success my-2 my-sm-0"
									type="submit">
									Buscar <i class="fa fa-search"></i>
								</button>
							</form>

						</nav>

					</ul>
				</div>
			</nav>
		</div>
		
		<div class="jumbotron">
			<h1 class="display-4">Administración de Alumnos</h1>
			<p class="lead">Utilice este modulo para administrar la base de
				datos de los alumnos de el jardin.</p>
			<hr class="my-4">

		</div>
	
	</header>





</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous">
	
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous">
	
</script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous">
	
</script>

</html>