<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="/layout :: head"></head>
    <body>
        <header th:replace="/layout :: header"></header>
        <div th:replace="/layout :: errordisplay"></div>
        <div th:replace="/layout :: successdisplay"></div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Actividad</th>
                    <th>Detalle</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                    <th>Observacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="actividad : ${actividades}">
                    <td th:text="${actividad.tipoActividad}"></td>
                    <td th:if="${actividad.cantidad}" th:text="${actividad.cantidad}"></td>
                    <td th:if="${actividad.tipoPanial}" th:text="${actividad.tipoPanial}"></td>
                    <td th:if="${actividad.cantidadLeche}" th:text="${actividad.cantidadLeche}"></td>
                    <td th:text="${#dates.format(actividad.inicio,'dd/MM/YYYY HH:mm')}"></td>
                    <td th:text="${#dates.format(actividad.fin,'dd/MM/YYYY HH:mm')}"></td>
                    <td th:text="${actividad.observacion}"></td>
                </tr>
            </tbody>
        </table>
        <footer th:replace="/layout :: footer"> </footer>
    </body>
</html>