<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/d2c247949d.js"></script>


    <title>Document</title>
</head>

<body>
    <footer>

        <div class="container-fluid p-0">
            <div class="row text-left">

                <div class="col-md-5 col-md-5">
                    <h1 class="text-light">Sobre Nosotros</h1>
                    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ipsa aut.
                    </p>
                    <p class="pt-4 text">
                        Copyright &copy;2019 Todos los derechos reservados | Esta Plantilla ha sido creada por
                        <span>Golden Kids</span>
                    </p>

                </div>
                <div class="col-md-5">



                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-light">Seguinos</h4>
                    <p class="text">Dejanos ser Sociables</p>
                    <div class="column ">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>

            </div>
        </div>

    </footer>

</body>

</html>