<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="/layout :: head"></head>
    <body>
        <header th:replace="/layout :: header"></header>
        <div class="col-sm-12">
            <form class="form" id="formulario" method="post" th:action="@{/inscripciones/guardar}">
                <div class="form-group" id="alumno">
                    <label>Alumno: </label> <select name="selectAlumnoDni"
                                                    id="selectAlumnoDni">
                        <option selected="selected"></option>
                        <option th:if="${alumnoActual != null}"  selected="selected" th:value="${alumnoActual.dni}" th:text="${alumnoActual.nombre} + ' ' + ${alumnoActual.apellido}"></option>
                        <option th:each="alumnoLoop : ${alumnos}" th:value="${alumnoLoop.dni}"
                                th:text="${alumnoLoop.nombre} + ' ' + ${alumnoLoop.apellido}"></option>
                    </select>
                </div>
                <div class="form-group" id="salita">
                    <label>Nombre Salita: </label> <select name="selectSalitaId"
                                                           id="selectSalitaId">
                        <option selected="selected"></option>
                        <option th:if="${salitaActual != null}"  selected="selected" th:value="${salitaActual.id}" th:text="${salitaActual.nombre}"></option>
                        <option th:each="salitaLoop : ${salitas}" th:value="${salitaLoop.id}"
                                th:text="${salitaLoop.nombre}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Fecha de Alta: </label> <input type="date" class="form-control" name="fechaAlta" th:value="${inscripcion.fechaAlta}" />
                </div>

                <div class="form-group">
                    <label>Fecha de Baja: </label> <input type="date" class="form-control" name="fechaBaja" th:value="${inscripcion.fechaBaja}" />
                </div> 
                <input type="submit" style="float: right; margin: 5px;"  class="btn btn-primary" value="Guardar" />
                <a th:href="@{inscripciones/listarinscripciones}" style="float: right; margin: 5px;" class="btn btn-danger" >Volver</a>
                <input type="hidden" th:value="${accion}" name="accion"/>
                <input type="hidden" th:if="${inscripcion.id != null} " th:value="${inscripcion.id}" name="inscripcionId" />
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </form>
        </div>
        <footer th:replace="/layout :: footer"> </footer>
    </body>
</html>